<h1>Incoming Messages</h1>
<% i = 0 %>
  <table>
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Title</th>
      <th>Body</th>
      <th>Created Time</th>
      <th>Read?</th>
      <th>Read</th>
    </tr>
<% @messages.each do |m| %>
    <tr class="<%= m.read_at ? 'message-read' : 'message-unread' %>">
      <td><%= m.id %></td>
      <td><%= m.sender %></td>
      <td><%= m.recipient %></td>
      <td><%= m.title %></td>
      <td><%= m.body %></td>
      <td><%= m.created_at %></td>
      <td><%= m.read_at ? "TRUE" : "FALSE" %></td>
      <td><%= link_to 'Read this', read_message_path(m), :method => "post" %></td>
    </tr>
<% end %>
  </table>
<br/>
<br/>
<%= link_to "New Message", new_message_path, class: "btn btn-warning" %>
<%= link_to "Add Friend", nil, class: "btn btn-warning" %>
<%= link_to "Sent Messages", sent_path, class: "btn btn-warning" %>