<div class="col-sm-8">
<h1>Send new message</h1>
<%= form_for @message do |f| %>
  <% if @message.errors.present? %>
    <%= @message.errors.full_messages.to_sentence %>
  <% end %>
  <%
    friends = []
    if @friendship
      @friendship.each do |f|
        friends.push(User.find(f.friend_id))
      end
    end
  %>
  <%= f.collection_select(:recipient_id, friends, :id, :name) %>
  <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  <%= f.text_field :body, placeholder: "Body", class: "form-control" %>
  <%= f.submit "Send", class: "btn btn-warning" %>
<% end %>
</div>