<h1>Sent Messages</h1>
<% i = 0 %>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Title</th>
      <th>Body</th>
      <th>Created Time</th>
      <th>Read?</th>
    </tr>
<% @messages.each do |m| %>
    <tr class="<%= m.read_at ? 'message-read' : 'message-unread' %>">
      <td><%= m.id %></td>
      <td><%= m.sender %></td>
      <td><%= m.recipient %></td>
      <td><%= m.title %></td>
      <td>***</td>
      <td><%= m.created_at %></td>
      <td><%= m.read_at ? m.read_at : "unread" %></td>
    </tr>
<% end %>
  </table>