<div class="col-sm-6">
<h1>User List</h1>
<% i = 0 %>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
<% @users.each do |u| %>
  <% i += 1 %>
    <tr>
      <td><%= i %></td>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td>
        <% if u.id != session[:user_id] %>
          <%
            is_friend = false
            if @friends
              @friends.each do |fs|
                if u.id == fs.friend_id
                  is_friend = true
                  break
                end
              end
            end
          %>
          <% if is_friend %>
            <span>Already friend</span>
          <% else %>
            <%= form_tag add_friend_path, class: "add-friend-form" do %>
              <%= text_field_tag :friend_id, u.id %>
              <%= submit_tag 'Add friend', class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
  </table> 
</div>