<!DOCTYPE html>
<html>
  <head>
    <title>HarryChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="container navbar navbar-light bg-faded">
    <% if session[:user_id] %>
      <% us = User.find(session[:user_id]) %>
      <span>Hi, <%= us.name %></span>
      <%= link_to "Logout", logout_path, :method => "delete", class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Register", register_path, class: "btn btn-primary" %>
      <%= link_to "Login", login_path, class: "btn btn-primary" %>
    <% end %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
